
    <!-- Main content -->


<div class="main-content" id="panel">
    <!-- Script Charts -->
    <script src="/admin/assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="/admin/assets/vendor/chart.js/dist/Chart.extension.js"></script>
    <!--bar-->
    <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Search form -->
                
                <!-- Navbar links -->
                <ul class="navbar-nav align-items-center  ml-md-auto ">
                    <li class="nav-item d-xl-none">
                        <!-- Sidenav toggler -->
                        <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin"
                            data-target="#sidenav-main">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item d-sm-none">
                        <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                            <i class="ni ni-zoom-split-in"></i>
                        </a>
                    </li>

                    <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                        <li class="nav-item dropdown">
                            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <div class="media align-items-center">
                                    <div class="media-body  ml-2  d-none d-lg-block">
                                        <span class="mb-0 text-sm  font-weight-bold">John Snow</span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu  dropdown-menu-right ">
                                <div class="dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Bienvenido!</h6>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a href="#!" class="dropdown-item">
                                    <i class="ni ni-user-run"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>
                    </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">

                <!-- Card stats -->
                <div class="row">
                    <div class="col-xl-4 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <center><h5 class="card-title text-uppercase text-muted mb-0">PRODUCTOS</h5></center>
                                        {{#each CountProductos}}
                                        <center><span class="h2 font-weight-bold mb-0">{{productos}}</span></center>
                                        {{/each}}
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                            <i class="ni ni-bag-17"></i>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <center><h5 class="card-title text-uppercase text-muted mb-0">USUARIOS</h5></center>
                                        {{#each CountUsuarios}}
                                        <center><span class="h2 font-weight-bold mb-0">{{usuarios}}</span></center>
                                        {{/each}}
                                    </div>
                                    <div class="col-auto">
                                        <div
                                            class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                            <i class="fa fa-users"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="card card-stats">
                            <!-- Card body -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <center><h5 class="card-title text-uppercase text-muted mb-0">Ventas Totales</h5></center>
                                        {{#each SumVentas}}
                                        <center><span class="h2 font-weight-bold mb-0">{{ventas}}</span></center>
                                        {{/each}}
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                            <i class="ni ni-money-coins"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--4">
        <div class="row">
            <div class="col-xl-8 mx-auto">
                <div class="card bg-default">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="text-light text-uppercase ls-1 mb-1">Últimos 30 días</h6>
                                <h5 class="h3 text-white mb-0">Ventas</h5>
                            </div>
                          
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Chart -->
                        <div class="chart">
                            <!-- Chart wrapper -->
                            <canvas id="MyChartVentasTotales" class="chart-canvas"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    fetch("http://localhost:8000/admin/reportes/grafica")
        .then((response) => response.json())
        .then((json) => generarGrafica(json));

    function generarGrafica(datos) {
        try {
            console.log(datos);
            //Team chart
            var ctx = document.getElementById("MyChartVentasTotales").getContext('2d');
            if (ctx) {
                var myChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: datos.dia,
                        type: "line",
                        defaultFontFamily: "Poppins",
                        datasets: [
                            {
                                data: datos.reportes,
                                label: "Total ventas",
                                backgroundColor: "transparent",
                                borderColor: "#5e72e4",
                                borderWidth: 4,
                                tension: .4,
                                borderCapStyle: 'rounded',
                                pointBorderColor: "transparent",
                                pointBackgroundColor: "red",
                            },
                        ],
                    },
                    options: {
                        responsive: true,
                        tooltips: {
                            mode: "index",
                            titleFontSize: 12,
                            titleFontColor: "#000",
                            bodyFontColor: "#000",
                            backgroundColor: "#fff",
                            titleFontFamily: "Poppins",
                            bodyFontFamily: "Poppins",
                            cornerRadius: 3,
                            intersect: false,
                        },
                        legend: {
                            display: false,
                            position: "top",
                            labels: {
                                usePointStyle: true,
                                fontFamily: "Poppins",
                            },
                        },
                        scales: {
                            xAxes: [
                                {
                                    display: true,
                                    gridLines: {
                                        display: false,
                                        drawBorder: false,
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: "Días",
                                    },
                                    ticks: {
                                        fontFamily: "Poppins",
                                    },
                                },
                            ],
                            yAxes: [
                                {
                                    display: true,
                                    gridLines: {
                                        display: true,
                                        drawBorder: false,
                                    },
                                    scaleLabel: {
                                        display: true,
                                        labelString: "Venta",
                                        
                                    },
                                    ticks: {
                                        fontFamily: "Poppins",
                                    },
                                },
                            ],
                        },
                        title: {
                            display: false,
                        },
                    },
                });
            }
        } catch (error) {
            console.log(error);
        }
    }

</script>
