    <!--footer-->
    <footer class="footer_widgets">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="widgets_container contact_us">
                        <div class="footer_logo">
                            <a href="/productos/Home"><img src="/assets/img/logo2.png" alt=""></a>
                        </div>
                        <br>
                        <div class="footer_contact">
                            <h3>Contáctenos</h3>
                            <p><span>Dirección </span><a href="https://facebook.com/KD695"> https://facebook.com/KD695</a></p>
                            <p><span>Teléfono: </span>313 850 4422 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="copyright_area">
                            <p>Copyright &copy; 2020 <a href="#">LukarStore</a>  Todos los derechos reservados.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>   
    </footer>