<!-- Sección Banner-->
<section class="slider_section slider_section_five mb-70 mt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8">
                <div class="slider_area owl-carousel">
                    <div class="single_slider d-flex align-items-center" data-bgimg="/assets/img/default.jpg">
                        <div class="slider_content slider_c_four">
                            <h1>Dual Front</h1>
                            <h2>24 MegaPixels</h2>
                            <p>exclusive offer <span> 20% off </span> this week</p>
                            <a class="button" href="shop.html">shopping now</a>
                        </div>
                    </div>
                    <div class="single_slider d-flex align-items-center" data-bgimg="/assets/img/bg/slider17.jpg">
                        <div class="slider_content slider_c_four">
                            <h1>NoteBook Pro</h1>
                            <h2>top selling product 2019</h2>
                            <p>exclusive offer <span> 20% off </span> this week</p>
                            <a class="button" href="shop.html">shopping now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="sidebar_banner5">
                    <div class="single_banner">
                        <div class="banner_thumb">
                            <a href="shop.html"><img src="assets/img/bg/banner22.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="header_middle">
            <!--Lista de productos-->
            <div class="shop_toolbar_wrapper">
                <div class="shop_toolbar_btn">

                    <button data-role="grid_3" type="button" class="active btn-grid-3" data-toggle="tooltip"
                        title="3"></button>

                    <button data-role="grid_list" type="button" class="btn-list" data-toggle="tooltip"
                        title="List"></button>
                </div>
                <div class=" niceselect_option">
                    <form class="select_option" action="#">
                        <select name="orderby" id="short">

                            <option selected value="1">Sort by average rating</option>
                            <option value="2">Sort by popularity</option>
                            <option value="3">Sort by newness</option>
                            <option value="4">Sort by price: low to high</option>
                            <option value="5">Sort by price: high to low</option>
                            <option value="6">Product Name: Z</option>
                        </select>
                    </form>
                </div>
                <div class="page_amount">
                    <p>Showing 1–9 of 21 results</p>
                </div>
            </div>
            <!--shop toolbar end-->
            <div class="row shop_wrapper">
                <div class="col-lg-4 col-md-4 col-12 ">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb">
                                <a class="primary_img" href="product-details.html"><img
                                        src="/assets/img/product/product23.jpg" alt=""></a>
                                <a class="secondary_img" href="product-details.html"><img
                                        src="/assets/img/product/product24.jpg" alt=""></a>
                                <div class="label_product">
                                    <span class="label_sale">Sale</span>
                                </div>
                                <div class="add_to_cart">
                                    <a href="cart.html" title="add to cart">Añadir al carro de compras</a>
                                </div>
                            </div>
                            <div class="product_content grid_content">
                                <div class="price_box">
                                    <span class="old_price">$86.00</span>
                                    <span class="current_price">$79.00</span>
                                </div>
                                <div class="product_ratings">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                        <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                    </ul>
                                </div>
                                <h3 class="product_name grid_name"><a href="product-details.html">Cras neque honcus
                                        consectetur
                                        magna</a></h3>
                            </div>
                            <div class="product_content list_content">
                                <div class="left_caption">
                                    <div class="price_box">
                                        <span class="old_price">$86.00</span>
                                        <span class="current_price">$79.00</span>
                                    </div>
                                    <h3 class="product_name"><a href="product-details.html">Cras neque honcus
                                            consectetur
                                            magna</a></h3>
                                    <div class="product_ratings">
                                        <ul>
                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star-outline"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product_desc">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                            nostrud
                                            exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate,
                                            tristique
                                            ut
                                            lectus</p>
                                    </div>
                                </div>
                                <div class="right_caption">
                                    <div class="add_to_cart">
                                        <a href="cart.html" title="add to cart">Añadir al carrito de compras</a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </article>
                </div>
            </div>

            <div class="shop_toolbar t_bottom">
                <div class="pagination">
                    <ul>
                        <li class="current">1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="next"><a href="#">next</a></li>
                        <li><a href="#">>></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--shop toolbar end-->
<!--shop wrapper end-->
<!--shop  area end-->