<!-- my account start  -->

<section>
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12">
                    <div class="dashboard_tab_button">
                        <br>
                        <ul role="tablist" class="row">

                            <li class="col-6"><a href="/usuarios/perfil" class=nav-link>Perfil</a></li>
                            <li class="col-6"><a href="/usuarios/perfil_productos" class=nav-link>Mis productos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div>
                        <br>
                        {{#if FormularioUsua}}
                        {{> FormUsuarioPerfil}}
                        {{/if}}
                        {{#if ListaProductos}}
                        {{> ListaProductosUsuario}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>